/VisioCall/VisioCall.Maui/bin
/VisioCall/VisioCall.Maui/obj
/VisioCall/VisioCall.Server/bin
/VisioCall/VisioCall.Server/obj
/VisioCall/VisioCall.Shared/bin
/VisioCall/VisioCall.Shared/obj
/VisioCall.Server/bin/Debug/net9.0
/VisioCall.Server/obj/Debug/net9.0
/VisioCall.Maui/obj/Debug/net10.0-ios/iossimulator-x64
/VisioCall.Shared/bin/Debug/net10.0
/VisioCall.Maui/obj
/VisioCall.Maui/bin/Debug
/VisioCall.Server/obj
/VisioCall.Shared/obj/Debug/net10.0
